::before::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.nav-links {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;

}