*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

    body {
        background-color: #44a;
        display: inline-block;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    h1 {
        display: inline-block;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 45px;
        font-size: 45px;
    }


    .user {
        display: inline-block;
        position: relative;
        margin: 90px;


    }

    .password {
        display: inline-block;
        position: relative;
        left: 90px;

    }

    .login {
        display: inline-block;
        position: relative;
        left: 55px;
        margin: 30px;


    }

   