*{
    padding : 0; 
    margin: 0;
    box-sizing: border-box;

}


.username {
    display: inline-block;
    position: relative;
    margin:50px;


}
.password {
    display: inline-block;
    position: relative;
    margin: 120px;
    right: 380px;

}
.table {
    display: inline-block;
    position: relative;
    border-collapse: collapse;
    border-top: 10px;
    border-left: 5px;
    border-bottom: 10px;
    max-height : 50px

    
}


