* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;

}
.product-name {
    display: inline-block;
    position: relative;
    margin: 50px;
}
.quanity {
    display: inline-block;
    margin-bottom  : 100px;
    margin-right: 60px;
    width: 200px;
    

}
.price-label {
    display: block;
    position: relative;
    bottom: 20px;
    

}
.price {
    display: block;
    position: relative;
    bottom: 15px;
    left: 115px;
    width: 200px;
    white-space: nowrap;
    text-align: center;

}
.add {
    display: inline-block;
    position: relative;
    top: 30px;
    left: 130px;
}
.products_table {
    display: block;
    position: relative;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    width: 300%;
    line-height: 70px;
    text-indent : 40px;
    padding: 100px;
}