* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.product-name {
    display: inline-block;
    position: relative;
    margin: 50px;
}

.quanity {
    display: inline-block;
    margin-bottom: 100px;
    margin-right: 60px;
    width: 200px;


}

.price-label {
    display: block;
    position: relative;
    bottom: 20px;


}

.price {
    display: block;
    position: relative;
    bottom: 15px;
    left: 115px;
    width: 200px;
    white-space: nowrap;
    text-align: center;

}

.add {
    display: inline-block;
    position: relative;
    bottom: 10px;
    left: 130px;
    
}

.products-table {
    display: inline-block;
    position: relative;
    margin-top: 500px;
    text-align: center;
    align-items: center;
    width: 1000%;
    height: 300px;
    text-indent: 5px;
    margin: 10px;

}