* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.add_user {
    display: inline-block;
    position: relative;
   margin-left: 100px;
}
.users_table {
    display: inline-block;
    position: relative;
    padding-bottom: 600px;


}
